<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DM20Web - Home</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="bg-grey-lightest min-h-screen flex flex-col">
    <nav class="flex items-center shadow-md text-white justify-between flex-wrap bg-black p-6">
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <h2 class="block mt-4 lg:inline-block lg:mt-0 mr-4">
                    DM20Web
                </h2>
                <!--<a href="/new" class="block mt-4 lg:inline-block lg:mt-0 text-blue-lighter hover:text-blue mr-4 no-underline">
                    Neu
                </a>
                <a href="/top" class="block mt-4 lg:inline-block lg:mt-0 text-blue-lighter hover:text-blue mr-4 no-underline">
                    Beliebt
                </a>-->
            </div>
            <div>
                <label class="md:w-2/3 block text-grey font-bold inline">
                    <input class="mr-2 leading-tight" type="checkbox" id="darkmode"><span class="text-sm">Dark</span>
                </label>
            </div>
        </div>
    </nav>
    <div class="flex">
        <div class="w-1/5 h-auto">

        </div>
        <div class="w-3/5 h-auto">
            <div class="container m-auto w-auto mt-6">
                    <div class="flex">
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 1</h3>
                            </div>
                            <input class="input-range" data-rangeid="1" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="1" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="1" class="font-bold">0%</span>
                            </div>
                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 2</h3>
                            </div>
                            <input class="input-range" data-rangeid="2" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="2" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="2" class="font-bold">0%</span>
                            </div>
                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 3</h3>
                            </div>
                            <input class="input-range" data-rangeid="3" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="3" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="3" class="font-bold">0%</span>
                            </div>
                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 4</h3>
                            </div>
                            <input class="input-range" data-rangeid="4" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="4" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="4" class="font-bold">0%</span>
                            </div>
                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 5</h3>
                            </div>
                            <input class="input-range" data-rangeid="5" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="5" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="5" class="font-bold">0%</span>
                            </div>
                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 6</h3>
                            </div>
                            <input class="input-range" data-rangeid="6" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="6" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="6" class="font-bold">0%</span>
                            </div>
                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 7</h3>
                            </div>
                            <input class="input-range" data-rangeid="7" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="7" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="7" class="font-bold">0%</span>
                            </div>
                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 8</h3>
                            </div>
                            <input class="input-range" data-rangeid="8" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="8" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="8" class="font-bold">0%</span>
                            </div>
                        </div>
                        <div class="flex-1 px-4 py-2 m-2">
                            <div>
                                <h3>Kanal 9</h3>
                            </div>
                            <input class="input-range" data-rangeid="9" orient="vertical" type="range" step="1" value="0" min="0" max="100">
                            <div>
                                <i class="fa fa-volume-up mutebtn" data-rangeid="9" data-muted="false" aria-hidden="true"></i> <span id="range-vol" data-rangeid="9" class="font-bold">0%</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="w-1/5 h-auto">
            <div id="statuspanel" class="mt-6 p-4 h-64 bg-grey-lighter shadow-md rounded">
                <ul class="no-dot pl-0">
                    <li class="mb-1">Websocket: <span id="wsStatus" class="text-red rounded font-bold text-sm">Getrennt</span></li>
                    <li class="mb-1">
                        <div class="inline-flex">
                            <button class="bg-black hover:bg-grey-dark text-white font-bold py-1 px-2 rounded-l">
                                <i class="fa fa-refresh" aria-hidden="true"></i> Sync
                            </button>
                            <button id="btnConnect" class="bg-black hover:bg-grey-dark text-white font-bold py-1 px-2">
                                <i class="fa fa-bolt" aria-hidden="true"></i> Verbinden
                            </button>
                            <button id="btnDisconnect" class="bg-black hover:bg-grey-dark text-white font-bold py-1 px-2 rounded-r">
                                <i class="fa fa-times" aria-hidden="true"></i> Trennen
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="js/bundle.js"></script>
</body>

</html>