@import "~tailwindcss/preflight";
@import "~tailwindcss/components";
@import "~toastr/toastr";

$fa-font-path: '../fonts';
@import "~font-awesome/scss/font-awesome";

$sl-overlay-background: #000;
$sl-navigation-color: #FFF;
$sl-caption-color: #fff;
$sl-caption-background: #000;
$sl-overlay-opacity: 0.8;

@import "~tailwindcss/utilities";

.no-dot {
    list-style-type: none;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 25em;
    padding: 0 5px;
}

.mutebtn {
    cursor: pointer;
}
